<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="booksystem.dao.OrderBookDao">
    <insert id="addOrderBook">
        INSERT INTO order_book(id,book_id,order_id,number,create_time,update_time)
        VALUES(MD5(UUID()),#{book_id},#{order_id},#{number},now(),now());
    </insert>
</mapper>
