<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="booksystem.dao.OrderDao">

    <insert id="addOrder">
        INSERT INTO `order`(id,total,status,address_id,shop_id,user_id,create_time,update_time,send_time,firm_time)
        VALUES(#{id},#{total},#{status},#{address_id},#{shop_id},#{user_id},now(),now(),null,null );
    </insert>

    <select id="getAllOrderByUser" resultType="String">
        select id from `order` where user_id=(select id from user where username=#{username}) order by create_time desc
    </select>

    <select id="getAllOrderByShop" resultType="String">
        select id from `order` where shop_id=#{shop_id} order by create_time desc
    </select>


    <update id="updateStatus" >
        update `order` set status=#{status}  where id=#{order_id}
    </update>

    <update id="updateFirmTime" parameterType="String">
        update `order` set firm_time=now()  and update_time=now() where id=#{order_id}
    </update>

    <update id="batUpdateFirmTime" parameterType="java.util.List">
        update `order` set firm_time=now()  and update_time=now()  where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateSendTime" parameterType="String">
        update `order` set send_time=now()  and update_time=now() where id=#{order_id}
    </update>

    <update id="batUpdateSendTime" parameterType="java.util.List">
        update `order` set send_time=now()  and update_time=now() where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>