<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booksystem.dao.UploadImgDao">
    <update id="updateImgUrl">
        UPDATE user SET avatar_b=#{url_b},avatar_s=#{url_s} WHERE username=#{username}
    </update>

    <select id="getImgUrl" resultType="String">
        SELECT avatar_b FROM user WHERE username=#{username}
    </select>
</mapper>