<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="booksystem.dao.UserDao">
    <select id="getAllUser" resultType="booksystem.pojo.User">
        select * from user
    </select>

    <select id="getAllUserNum" resultType="int">
        select count(*) from user
    </select>

    <select id="getUserByName" resultType="booksystem.pojo.User">
        select * from user where username=#{username}
     </select>

    <select id="getUserByID" parameterType="String" resultType="booksystem.pojo.User">
        select * from user where id=#{user_id}
    </select>

    <insert id="addUser">
        INSERT INTO user(id,username,password,email,status,activationCode,name,avatar_b,avatar_s,identity,create_time,update_time,access_time)
        VALUES(MD5(UUID()),#{email},#{password},#{email},0,null,#{name},"http://47.94.131.208:8888/img/original/avatar.jpg","http://47.94.131.208:8888/img/compression/avatar.jpg",0,now(),now(),now());
    </insert>

    <update id="updateUser"  parameterType="booksystem.pojo.User">
        update user set password=#{password},name=#{name},update_time=now() where username=#{username}
    </update>

    <update id="updateCode"  parameterType="String">
        update user set activationCode=#{activationCode} where username=#{username}
    </update>
    <update id="updateStatus" >
        update user set status=#{status} where username=#{username}
    </update>

    <update id="updateTime" >
        update user set update_time=now() where username=#{username}
    </update>

    <update id="updateIdentity" >
        update user set identity =#{identity } where username=#{username}
    </update>

    <update id="deleteUser" parameterType="String">
        delete from user where id=#{user_id}
    </update>

    <update id="accessTime">
        update user set access_time=now() where username=#{username}
    </update>

    <update id="updateEmail" parameterType="String">
        update user set username=#{email},email=#{email} where id=#{user_id}
    </update>

</mapper>